<!DOCTYPE html>
<html lang="pt-BR">
  <%- include('../partials/head') %>

<body class="bg-light">

  <%- include('../partials/header') %>

  <div class="d-flex">
    <%- include('../partials/sidebar') %>

    <div class="content">
      <h1>Dashboard</h1>
      <p>Bem-vindo ao painel.</p>
    </div>
  </div>

  <%- include('../partials/scripts') %>
</body>
</html>
