<nav class="navbar navbar-dark bg-black">
  <div class="container-fluid">

    <div class="d-flex align-items-center">
      <button class="btn btn-outline-light me-3" id="toggleSidebar">
        ☰
      </button>

      <a class="navbar-brand" href="/admin">
        Catálogo online
      </a>
    </div>

    <div class="dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
        <%= usuario.nome %>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/usuario/perfil">Perfil</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <form action="/usuario/deslogar" method="POST">
            <button type="submit" class="dropdown-item text-danger">
              Sair
            </button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>