<div class="sidebar bg-dark text-white p-3" id="sidebar">
  <h5>Menu</h5>

  <ul class="nav nav-pills flex-column">

    <li class="nav-item">
      <% if(usuario.tipo === 'ADMIN')  { %>
        <a class="nav-link text-white" data-bs-toggle="collapse" href="#usuarioMenu">
          Usuário
        </a>

        <div class="collapse show ms-3" id="usuarioMenu">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-white" href="/usuarios/cadastrar">
                Cadastrar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/usuarios/listar">
                Listar
              </a>
            </li>
          </ul>
        </div>
      <% } %>
    </li>

  </ul>
</div>
